fastapi==0.135.2
uvicorn==0.42.0
scikit-learn==1.8.0
joblib==1.5.3
numpy==2.4.4
pillow==12.1.1
scipy==1.17.1
python-multipart==0.0.22
pydantic==2.12.5
pydantic_core==2.41.5
anyio==4.13.0
starlette==1.0.0
